streamlit>=1.18.0
 yfinance>=0.2.12
 pandas>=1.5.0
 numpy>=1.22.0
 matplotlib>=3.5.0
 plotly>=5.10.0
 scikit-learn>=1.0.2
 xgboost>=1.6.0
 textblob>=0.15.3
 requests>=2.27.0
 ta>=0.10.0
 plotly-express>=0.4.1
 scipy>=1.8.0
 seaborn>=0.12.0
 PyPDF2>=2.10.0
